doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
    meta(name="viewport", content="width=device-width", initial-scale="1")
  body
    .site-main
      block content

    footer.footer
      .made-with
        p
          | Video chat powered by 
          a(href="https://www.matthewmarkgraaff.com")
            | Matthew Markgraaff
